* {
    text-align: center;
}

/* nawigacja */
.header {
    padding: 20px;
    background-color: rgb(111, 39, 129);
    position: absolute;
    top: 0;
    width: 100%;
        }
.header .nawigacja a{
    color: rgba(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    
}
.nawigacja{
    text-align: start;
    font-family: sans-serif;
}
.header .nawigacja a:hover{
    background-color: rgb(94, 36, 109);

}
.header .nawigacja button > a{
  padding: initial;
}
.header #wyloguj{
    display: flex;
    float: right;
    padding: 6px;
    position: absolute;
    right: 40px;
    top: 14px;
    padding-left: 20px;
    padding-right: -2px;

}
.header button{
    border-radius: 10px;
    border: none;
    background-color: rgb(142, 49, 165);
    box-shadow: 2px 3.75px rgb(86, 30, 100);
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
    cursor: pointer;

    
}
.header button:hover{
    background-color: rgb(122, 46, 141);
}
.header button:active{
   box-shadow: none;
   transition: 0.15s;
   position: relative;
    transform: translatey(3.75px);
}
.header button i{
    position: absolute;
    left: 5px;
    top: 7px;
}

/* instrukcje */

.instrukcje, .Opis {
    background-color: #fb408d;
    border-color: #ffee82;
    position: absolute;
    left: 3%;
    display: flex;
    width: 25%;
    text-align: center;
    flex-direction: column;
    border: 6px dashed #ffee82;
    border-radius: 20px;
    font-family: snakeFont;
    font-size: larger;
}
p {
    margin: 20px;
}
.Opis {
    left: unset;
    right: 2.3%;
    width: 25%;
    background-color: #2be9fc;
}
#Tab{
    font-size: xx-large;
    padding-top: 20px;
}
/* gra */
@font-face {
    font-family: snakeFont;
    src: url(./snake_font.otf);
}
@font-face {
    font-family: titleFont;
    src: url(./title.otf);
}
body {
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    width: 100vw;
    height: 98vh;
    align-items: center;
    background-image: url("../background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#plansza {
    border-radius: 30px;
}
.ramka{
    pointer-events: none;
    width: 500px;
    height: 500px;
    border: 6px solid #ffee82;
    position: absolute;
    border-radius: 36px;
}
.leaderboard{
    background-color: rgb(20, 140, 136);
    position: absolute;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    overflow-y: hidden;
}
.click {
    display: flex;;
    width: 500px;
    height: 500px;
    background-color: black;
    text-align: center;
    color: rgba(255, 255, 255, 0.496);
    font-family: snakeFont;
    align-items: center;
    font-size: 50px;
    justify-content: center;
    position: absolute;
    border-radius: 30px;
}
.pauza {
    width: 500px;
    height: 500px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.202);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: lime;
    font-family: snakeFont;
    font-size: 35px;
    border-radius: 30px;
}
.numbers {
    position: absolute;
    width: 500px;
    height: 500px;
    pointer-events: none;
    border-radius: 30px;
}
.one, .two, .three {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 160px;
    font-family: snakeFont;
    color: rgba(255, 255, 255, 0.165);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 30px;
    position: absolute;
}
.menu, .options, .gameOver {
    display: grid;
    grid:
        'title title title title'
        'button button button button'; 
    width: 500px;
    height: 500px;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgb(20, 140, 136) 100%);
    position: absolute;
    align-items: center;
    border-radius: 30px;
}
.title {
    grid-area: title;
    font-size: 80px;
    font-family: titleFont;
    color: lime;
    text-shadow: 
        0 0 20px lime,
        0 0 30px lime
        ;
}
.przyciski {
    grid-area: button;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}
.przyciski > button, .wybor > button, .wybor2 > button {
    margin-bottom: 10px;
    margin-left: 12px;
    padding: 5%;
    margin-right: 12px;
}

.options{
    opacity: 1;
    grid:
        'btn mute'
        'btn mute'
        'trudnosc wielkosc'
        'wybor wybor2';
    grid-auto-flow:column ;
}
.trudnosc, .wielkosc {
    background-color: rgba(0, 255, 251, 0.502);
    margin-left: 40px;
    margin-right: 40px;
    padding: 5%;
    border: rgb(0, 255, 247) 5px solid;
    border-radius: 1rem;
    color: black;
    font-size: 20px;
    font-family: snakeFont;
        box-shadow: 
        0 0 10px rgb(0, 255, 247)
        ;
}
#mute_sfx {
    grid-area: mute;
    width: max-content;
    font-size: 25px;
    justify-self: center;
    margin-bottom: 30%;
    color: lime;
    text-shadow: 
        0 0 20px lime,
        0 0 25px lime;
    font-family: snakeFont;
}
#sfx_vol {
    display: block;
    grid-area: mute;
    margin-bottom: 10%;
    width: 70%;
    justify-self: center;
}
#music_vol {
    display: block;
    grid-area: mute;
    margin-top: 50%;
    width: 70%;
    justify-self: center;
}
#mute_music {
    grid-area: mute;
    color: lime;
    font-size: 25px;
    width: max-content;
    justify-self: center;
    position: relative;
    margin-top: 30%;
        text-shadow: 
        0 0 20px lime,
        0 0 25px lime;
    font-family: snakeFont;
}
#wstecz, #play, #again, #options, #board {
    padding: 10px;
    color: lime;
    text-shadow: 
        0 0 20px lime,
        0 0 30px lime;
    font-family: snakeFont;
    font-size: 30px;
    background: transparent;
    border-radius: 1rem;
    outline: none;
    border: lime 5px solid;
    box-shadow: 
        0 0 10px lime,
        0px 10px rgb(0, 110, 0);
    transition: .15s ease-in-out;
}

#wstecz:active, #play:active, #again:active, #options:active, #board:active {
    box-shadow: 
        0 0 10px lime;
    position: relative;
    top: 8px;
    transition: none;
}

#wstecz:hover, #play:hover, #again:hover, #options:hover, .wybor button:hover, .wybor2 button:hover, #board:hover {
    color: black;
    background-color: rgba(0, 255, 0, 0.333);
}
#wstecz {
    grid-area: btn;
    margin-left: 40px;
    margin-top: 40%;
}
#options {
    margin-bottom: 20px;
}
#play {
    grid-area: btn;
    margin-left: 40px;
    position: relative;
    margin-top: -27%;
}
.wybor, .wybor2 {
    grid-area: wybor;
    display: flex;
    flex-direction: column;
}
.wybor2{
    grid-area: wybor2;
}
.wybor2 button, .wybor button {
    color: lime;
    text-shadow: 
        0 0 20px lime;
    font-family: snakeFont;
    background: transparent;
    border: lime 5px solid;
    font-size: 20px;
    border-radius: 1rem;
        box-shadow: 
        0 0 20px lime
        ;
    transition: .15s ease-in-out;
}
.hide {
    display: none;
}
.wybor button:focus {
    color: white;
    background-color: black;
}
.wybor2 button:focus {
    color: white;
    background-color: black;
}
#again {
    margin-left: 100px;
    margin-right: 100px;
    grid-area: again;
}
#end {
    color: white;
    font-size: 50px;
    grid-area: end;
    font-family: snakeFont;
    text-shadow: 
        0 0 20px lime;
    color: lime;
}
.gameOver {
    grid:
    'end'
    'again';
    background-color: transparent;
    opacity: 1;
}
img {
    transform: translate(200%);
}
.move-left{
    animation-name: slide-left;
    animation-duration: 1s;
    animation-timing-function: linear;
    transform: translate(200%);
}
.move-right{
    animation-name: slide-right;
    animation-duration: 1s;
    animation-timing-function: linear;
    transform: translate(-200%);
}
.menu_area{
    position: absolute;
    background-color: transparent;
    width: 500px;
    height: 500px;
    overflow: hidden;
    pointer-events: none;
    border-radius: 30px;
}
@keyframes slide-left {
    from {transform: translate(150%);}
    to {transform: translate(-150%);}
}
@keyframes slide-right {
    from {transform: translate(-150%);}
    to {transform: translate(150%);}
}

/* tabelka */
.table {
    border: lime 5px solid;
    justify-content: center;
    width: 60%;
    box-shadow: 
    0 0 10px lime,
    0px 10px rgb(0, 110, 0);
    align-self: anchor-center;
    overflow-y: scroll;
    margin-top: 10%;
}
#snake-table td, #snake-table th {
    width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.253);
    padding: 8px;
    text-align: start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
}
#snake-table tr:nth-child(even) {background-color: #00000013;}
       .user_name{
        float: right;
        position:relative;
        margin-right: 150px;
        color:#fff176;
    }
