* {
    text-align: center;
}
@font-face {
    font-family: snakeFont;
    src: url(./snake_font.otf);
}
body {
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
}
.menu, .options, .gameOver {
    display: grid;
    grid:
        'title title title title'
        'button button button button'; 
    width: 500px;
    height: 500px;
    background: linear-gradient(gray, lime);
    position: absolute;
    align-items: center;
}
.title {
    grid-area: title;
    font-size: 80px;
}
.przyciski {
    grid-area: button;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}
.przyciski > button, .wybor > button, .wybor2 > button {
    margin: 20px;
    padding: 20px;
}

.options{
    opacity: 1;
    grid:
        'btn mute'
        'btn mute'
        'trudnosc wielkosc'
        'wybor wybor2';
    grid-auto-flow:column ;
}
.trudnosc, .wielkosc {
    background: linear-gradient(rgb(1, 203, 1), lime);
    margin-left: 40px;
    margin-right: 40px;
    padding: 5%;
}
#mute_sfx {
    grid-area: mute;
    width: max-content;
    justify-self: center;
}
#mute_music {
    grid-area: mute;
    width: max-content;
    justify-self: center;
    position: relative;
    margin-top: 20%;
}
#wstecz, #play, #again {
    padding: 10px;
    font-family: snakeFont;
    font-size: 30px;
    background: rgb(65, 207, 255);
    border-radius: 3rem;
    outline: none;
    border: rgb(66, 66, 66) 3px solid;
}
#wstecz {
    grid-area: btn;
    margin-left: 10px;
    margin-top: 33%;
    margin-bottom: 5%;
}
#play {
    grid-area: btn;
    margin-left: 10px;
    position: relative;
    margin-top: -27%;
}
.wybor, .wybor2 {
    grid-area: wybor;
    display: flex;
    flex-direction: column;
}
.wybor2{
    grid-area: wybor2;
}
.hide {
    display: none;
}
.wybor button:focus {
    color: white;
    background-color: black;
}
.wybor2 button:focus {
    color: white;
    background-color: black;
}
#again {
    margin-left: 100px;
    margin-right: 100px;
    grid-area: again;
}
#end {
    color: white;
    font-size: 50px;
    grid-area: end;
}
.gameOver {
    grid:
    'end'
    'again';
    background-color: transparent;
    opacity: 1;
}
img {
    transform: translate(200%);
}
.move-left{
    animation-name: slide-left;
    animation-duration: 1s;
    animation-timing-function: linear;
    transform: translate(200%);
}
.move-right{
    animation-name: slide-right;
    animation-duration: 1s;
    animation-timing-function: linear;
    transform: translate(-200%);
}
.menu_area{
    position: absolute;
    background-color: transparent;
    width: 500px;
    height: 500px;
    overflow: hidden;
    pointer-events: none;
}
@keyframes slide-left {
    from {transform: translate(150%);}
    to {transform: translate(-150%);}
}
@keyframes slide-right {
    from {transform: translate(-150%);}
    to {transform: translate(150%);}
}
