*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

        }
body {
    text-align: center;
}

/* nawigacja */
header {
    padding: 20px;
    background-color: rgb(111, 39, 129);
    top: 0;
    width: 100%;
    
        }
        .nawigacja{
    text-align: start;
}
header .nawigacja a{
    color: rgba(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    
}
header .nawigacja a:hover{
    background-color: rgb(94, 36, 109);

}
header #wyloguj{
    display: flex;
    float: right;
    padding: 6px;
    position: absolute;
    right: 15px;
    top: 14px;
    padding-left: 20px;
    padding-right: -2px;
    
}
header button{
    border-radius: 10px;
    border: none;
    background-color: rgb(142, 49, 165);
    box-shadow: 2px 3.75px rgb(86, 30, 100);
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
    cursor: pointer;

    
}
header button:hover{
    background-color: rgb(122, 46, 141);
}
.nawigacja button > a{
  padding: initial;
}
header button:active{
   box-shadow: none;
   transition: 0.15s;
   position: relative;
    transform: translatey(3.75px);
}
header button i{
    position: absolute;
    left: 5px;
    top: 7px;
}
h1{
    color: white;
    margin: 20px;
}
       .user_name{
        float: right;
        position:relative;
        margin-right: 110px;
        color:#fff176;
        text-shadow: 2px 2px 0px rgb(41, 41, 41);

    }
    /* tło */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.UI {
    display: grid;
    grid-template-areas: 
    'canvas canvas score'
    'canvas canvas next';
    
    width: 700px;
    height: 600px;
    background-color: #40423f;
    justify-self: center;
    margin-top: 50px;
}
#canvas {
    grid-area: canvas;
}
.score {
    grid-area: score;
    display: flex;
    width: 225px;
    height: 200px;
    flex-direction: column;
    color: white;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}
.next {
    grid-area: next;
    width: 225px;
    height: 400px;
}
#score {
    font-size: 60px;
}