* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

button {
    cursor: pointer;
}

.hide {
    display: none !important;
}

.center-element-on-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-element-on-parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.font-bold {
    font-weight: 700;
}

.font-2em {
    font-size: 2em;
}

.text-center {
    text-align: center;
}

.menu-container {
    width: 80%;
    height: 60%;
    background-color: #d2cccc;
}

.container {
    width: 70%;
    height: 80%;
    background-color: #fafafa;
}

.container button,
.container input {
    margin: 5%;
    padding: 20px 50px;
    border-radius: 10px;
}

form {
    width: 100%;
}

#join-container button {
    align-self: center;
}
header {
    padding: 20px;
    background-color: rgb(111, 39, 129);
    
}
header .menu a{
    color: rgba(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    
}
header .menu a:hover{
    background-color: rgb(94, 36, 109);
}
header #wyloguj{
    display: flex;
    float: right;
    padding: 6px;
    position: absolute;
    right: 15px;
    top: 14px;
    padding-left: 20px;
    padding-right: -2px;
}
header button{
    border-radius: 10px;
    border: none;
    background-color: rgb(142, 49, 165);
    box-shadow: 2px 3.75px rgb(86, 30, 100);
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
header button:hover{
    background-color: rgb(122, 46, 141);
}
.menu button > a{
  padding: initial;
}
header button:active{
   box-shadow: none;
   transition: 0.15s;
   position: relative;
    transform: translatey(3.75px);
}
header button i{
    position: absolute;
    left: 5px;
    top: 7px;
}
.user_name{
    float: right;
    position:relative;
    margin-right: 110px;
    color:#fff176;
        text-shadow: 2px 2px 0px rgb(41, 41, 41);

}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(3, calc((100% / 3) - 10px));
    gap: 10px;
}

.game-button {
    border: none;
    background-color: #EAE7DA;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 8px #888888;
    font-weight: 700;
    font-size: 3em;
    transition: all .3s ease-in-out;
}

.game-button:hover, 
.game-button:active {
    background-color: #2e49ca;
    box-shadow: 8px 10px #8888AA;
    text-shadow: 2px 2px 5px #0072007a;
    transform: scale(1.05);
    outline: none;
}

/* Kolorek dla kółka */
.circle {
    color: #1A936F;
}

.circle:hover,
.circle:active,
.circle:focus {
    color: #34d1a0;
}

/* kolorek dla X */
.cross {
    color: #D62828;
}

.cross:hover,
.cross:active,
.cross:focus {
    color: #ff4d4d;
}

#options-container button {
    color: #382b22;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background-color: #fff0f0;
    border: 2px solid #b18597;
    border-radius: .75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

#options-container button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
     -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
 -webkit-transform: translate3d(0, 0.75em, -1em);
 transform: translate3d(0, 0.75em, -1em);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

#options-container button:hover {
    background: #ffe9e9;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}

#options-container button:hover::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}

#options-container button:active {
    background: #ffe9e9;
    -webkit-transform: translate(0, 0.75em);
    transform: translate(0, 0.75em);
}

#options-container button:active::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}

#options-container input {
    border: 2px solid transparent;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #f3f3f3;
    transition: all 0.5s;
}

#options-container input:hover,
#options-container input:focus,
#options-container input:active {
    border: 2px solid #4a9dec;
    box-shadow: 0 0 0 7px rgb(74, 157, 236, 20%);
    background-color: white;
}